<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Marko Andreis",
  "url": "{{ site.url }}",
  "sameAs": [
    "https://www.linkedin.com/in/marko-andreis/",
    "https://github.com/ismandre",
    "https://goodreads.com/marko-andreis"
  ],
  "jobTitle": "Software Engineer",
  "description": "{{ site.description }}"
}
</script>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "url": "{{ site.url }}",
  "name": "{{ site.title }}",
  "description": "{{ site.description }}",
  "author": {
    "@type": "Person",
    "name": "{{ site.author }}"
  }
}
</script>
